.app {
  text-align: center;
}

.app-header {
  height: 150px;
  padding: 20px;
  color: white;
  background-color: #222;
}

.app-header__logo {
  height: 80px;
  animation: app-logo-spin infinite 20s linear;
}

.error-message {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  background: red;
  color: #fff;
  text-align: left;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
